<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Lead for Louens</title>
</head>
<body>
  <%#*<p><%= text_field_tag FirstName @lead.first_name%></p>
  <p>First Name: <%= @lead.first_name%></p>
  <p>Last Name: <%= @lead.last_name%></p>
  <p>Street: <%= @lead.street%></p>
  <p>Suburb: <%= @lead.suburb%></p>
  <p>Other: <%= @lead.other%></p>
  <p>Postcode: <%= @lead.postcode%></p>
  <p>Phone: <%= @lead.phone%></p>
  <p>Mobile: <%= @lead.mobile%></p>
  <p>Email Address: <%= @lead.email_address%></p>
  <p>Beds: <%= @lead.beds%></p>
  <p>Baths: <%= @lead.baths%></p>
  <p>Garages: <%= @lead.garages%></p>
  <p>Comments: <%= @lead.comments%></p>
</body>
</html>